


.title {
  text-align: center;
  font-size: 40px;
  color: var(--color-main);
  margin-bottom: 100px;

}

.content {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 80px;
}

.card {
  background-color: #fdeeee;
  border-radius: 20px;
  padding: 50px;
  max-width: 520px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin: auto;

}

.personna {

 
  margin: auto;
  text-align: center;

  p {
    margin: 50px;
    font-size: 20px;
    color: #333;
  }
}

.personna-photo {
  display: flex;
  justify-content: center;

}

.card-fonctionnement {
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #fdeeee;
  border-radius: 30px;
  padding: 100px;
  max-width: 800px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin: auto;

  p {
    text-align: center;
    font-size: 20px;
  }


}



.services {

  text-align: center;

  h2{
    margin-top: -200px;
  }

  p {
    margin: 50px;
    font-size: 20px;
  }
}

.services-intro {
  display: contents;
  text-align: center;
  justify-content: center;
  margin: 50px;
  font-size: 16px;

}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.service-card {
  background-color: #fdecec;
  border-radius: 20px;
  padding: 48px 32px 32px;
  text-align: center;

  p {
    margin: auto;
    font-size: 18px;
    color: #333;
  }
}

.Maquette {
  display: contents;
  text-align: center;
  margin-bottom: 100px;

}

.container{
    max-width: 1200px;
    margin: auto;
}

.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-direction: column;

    h3{
        color: #FF8D8D;
        font-size: 24px;
        text-transform: uppercase;

    }
    .icon{
        display: flex;
        align-items: center;
    }
}


.icon {
  text-align: center;
  float: left;
  color: var(--color-main);
  font-size: 20px;

}

.line{
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 50px;

}


.line.right{
    flex-direction: row-reverse;
    
}


.prototype {
  text-align: center;
}

.userflow {
  display: flex;
  justify-content:left;
  padding: 90px;
  /* h3{
    display: flex;
    justify-content: center;
    padding-top: 90px;
  } */
}


.image-ensuite{
  
  width: 420px;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center; 

  
  svg {
  
  border-radius: 50px;
}
}

.card-ensuite {
  background-color: #fdecec;
  padding: 40px;
  border-radius: 20px;
  max-width: 520px;
  max-height:300px;
  text-align: left;
  
}

