/* section */
header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    #heroContent {
        width: 40%;
    }

    .heroGallery {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        gap: 1em;

        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            animation: spin 25s infinite linear;
        }
    }
}

/* #why {

} */

#solutions {
    overflow: hidden;
}

#partners {
    padding: 40px;
}

#engagements {

    .card {
        flex-direction: row;
        width: 80%;
        text-align: left;
        gap: 32px;
    }
}

#vouch {
    .name {
        font-weight: 600;
        margin-top: 19px;
    }
}

#join {
    .leftBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .joinUs {
            display: flex;
            gap: 40px;
            flex-direction: column;

            .joinUsMessage {
                display: flex;
                align-items: center;
                gap: 40px;
            }
        }
    }
}