/* section */
header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    nav {
        display: flex;
        gap: 160px;
        margin-top: 40px;
        position: absolute;
        inset: 0 auto auto 50%;
        transform: translateX(-50%);
        border-radius: 20px;
        background-color: var(--color-white);
        padding: 12px 180px;
        z-index: 1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        a {
            text-decoration: none;
            font-size: 20px;
            color: var(--color-main);
        }
    }

    #heroContent {
        /* flex: 1; */

        a {
            border-radius: 20px;
            padding: 20px 40px;
            text-decoration: none;
            background-color: var(--color-main);
            color: var(--color-white);
        }
    }

    #heroGallery {
        /* flex: 1; */
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        gap: 1em;

        .column {
            max-width: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            animation: spin 10s infinite linear;

            .firstPicture {
                width: 100%;
                height: 15em;
                border-radius: 4px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(assets/Emilie.png);
            }
        }
    }
}

/* why */
#why {
    text-align: center;

    .leftBlock {
        .containerCard {
            gap: 32px;

            .card {
                max-width: 160px;

                .card1 {
                    width: 100%;
                    height: 8em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(assets/temps.png);
                }

                .card2 {
                    width: 100%;
                    height: 8em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(assets/argent.png);
                }

                .card3 {
                    width: 100%;
                    height: 8em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(assets/refletion.png);
                }
            }
        }
    }

    .rightBlock {
        width: 100%;
        height: 20em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(assets/groupe-mamans.jpg);
    }
}

#solutions {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    .containerCard {
        gap: 140px;

        .card {
            max-width: 160px;
        }
    }
}

#partners {
    background-color: #FF8D8D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    height: 222px;
    padding: 54px;

    img {
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
    }
}

#engagements {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    .containerCard {
        gap: 140px;

        .card {
            max-width: 300px;
        }
    }
}

#vouch {
    .containerCard {
        gap: 20px;

        .card {
            max-width: 340px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            .info {
                display: flex;
                align-items: center;
                gap: 12px;

                .identityPicture {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(assets/Julie.png);
                }
            }
        }
    }
}

#join {
    .container {
        display: flex;

        .leftBlock {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;


            .joinUs {
                display: flex;
                gap: 40px;
                flex-direction: column;

                .joinUsMessage {
                    display: flex;
                    align-items: center;
                    gap: 40px;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/* #contact {

} */


.card-footer {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.renseignement {
    display: flex;
    justify-content: right;
}

.abonner {
    display: flex;
    justify-content: right;
}