/* Variables couleurs */
:root {
    --color-white: rgb(252, 242, 242);
    --color-main: #FF8D8D;
}

/* reinitialisation */
* {
    margin: 0;
    box-sizing: border-box;
}

/* style global */
body {
    background-color: var(--color-white);
    font-family: "Yrsa", serif;
    color: #2d2d2d;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
    color: var(--color-main);
}

h2 {
    font-size: 40px;
    margin-bottom: 16px;
    color: var(--color-main);
}

h3 {
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--color-main);
}

p {
    margin-bottom: 35px;
}

a {
    display: inline-block;
}

/* container */
.container {
    margin: auto;
    max-width: 1200px;
}

.container.small {
    max-width: 800px;
    text-align: center;
}

.container.flex {
    display: flex;
    gap: 80px;
}

.container.padding {
    padding: 120px 0 0 0;
}

/* block with same width */
.leftBlock,
.rightBlock {
    flex: 1;
}

/* card */
.containerCard {
    display: flex;
    justify-content: center;

    svg {
        display: block;
        margin: auto;
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* class */
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* class animation */
@keyframes spin {
    from {
        translate: 0 0;
    }

    to {
        translate: 0 -100%;
    }
}